<div class="banner d-flex align-items-center">
  <div class="d-flex justify-content-center flex-column h-25 banner-text">
    <h1>TAKE THE PINK PILL</h1>
    <h4>Aprenda hoje mesmo um novo idioma! Seja para trabalho, <br> mestrado, viagem ou para entender suas séries, filmes, <br> doramas ou animes favoritos!</h4>
    <a class="btn btn-flat banner-btn" href="#">Matricule-se agora!</a>
  </div>
</div>