<h1 class="project-name my-5 col-12">Qual será seu próximo idioma?</h1>
<div class="timeline col-md-12 col-lg-6 ms-5">
  <div id="timeline">
    <div class="timeline-item">
      <div class="timeline-icon">
        <span class="fi fi-us flag-country"></span>
      </div>
      <div class="timeline-content">
        <h2>INGLÊS</h2>
        <p class="mt-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
        </p>
        <a class="btn btn-flat banner-btn" href="#">Aprenda inglês agora!</a>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <span class="fi fi-es flag-country"></span>
      </div>
      <div class="timeline-content right">
        <h2>ESPANHOL</h2>
        <p class="mt-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
        </p>
        <a class="btn btn-flat banner-btn" href="#">Aprenda espanhol agora!</a>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon libras">
      </div>
      <div class="timeline-content">
        <h2>LIBRAS</h2>
        <p class="mt-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
        </p>
        <a class="btn btn-flat banner-btn" href="#">Aprenda libras agora!</a>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <span class="fi fi-jp flag-country"></span>
      </div>
      <div class="timeline-content right">
        <h2>JAPONÊS</h2>
        <p class="mt-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
        </p>
        <a class="btn btn-flat banner-btn" href="#">Aprenda japonês agora!</a>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <span class="fi fi-kr flag-country"></span>
      </div>
      <div class="timeline-content">
        <h2>COREANO</h2>
        <p class="mt-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
        </p>
        <a class="btn btn-flat banner-btn" href="#">Aprenda coreano agora!</a>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <span class="fi fi-de flag-country"></span>
      </div>
      <div class="timeline-content right">
        <h2>ALEMÃO</h2>
        <p class="mt-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
        </p>
        <a class="btn btn-flat banner-btn" href="#">Aprenda alemão agora!</a>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <span class="fi fi-fr flag-country"></span>
      </div>
      <div class="timeline-content">
        <h2>FRANCÊS</h2>
        <p class="mt-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
        </p>
        <a class="btn btn-flat banner-btn" href="#">Aprenda francês agora!</a>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-icon">
        <span class="fi fi-it flag-country"></span>
      </div>
      <div class="timeline-content right">
        <h2>ITALIANO</h2>
        <p class="mt-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
        </p>
        <a class="btn btn-flat banner-btn" href="#">Aprenda italiano agora!</a>
      </div>
    </div>
	</div>
</div>