<%= render "banner" %>

<div class="row d-flex justify-content-evenly" style="margin-right: 0;">
  <%= render "timeline" %>
  <div class="p-4 bg-white col-lg-3" style="height: 450px; border-radius: 10px;">
    <%= render partial: 'form_apply', locals: { student: @student } %>
  </div>
</div>

<%= render "shared/footer" %>